*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica Neue';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track{
    background-color: rgba(219,219,219,0.5)
    
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #98b5ff, #3f2b96);
}

.header {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(8px);
    z-index: 1000;
}


.sticky {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out
}
.logo:hover{
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap:2rem;
}
li a{
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    top: 25px;
    border-radius: 1rem;
    transition:  0.25s ease-in-out;
    background: linear-gradient(to right, #98b5ff, #3f2b96);
}

li a:hover::before{
    width: 100%;
}
.visit-btn{
    padding:0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color:white;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
}
.visit-btn:hover{
    background: linear-gradient(to right,#3f2b96, #98b5ff);
    transform: scale(1.03);
}
#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}
/* Add this to the existing CSS */

.section {
    opacity: 0;
    transform: translateY(50px); 
    transition: all 0.6s ease-out;
  }
  
  .section.in-view {
    opacity: 1;
    transform: translateY(0);  
  }
  
/* About Section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about img{
    width: 30vw;
    border-radius: 50%;
    max-width: 500px;
}
.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    opacity: 0; 
    transform: translateY(100%);  
    animation: flyInFromBottom 0.8s ease-out forwards;  
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
    background: linear-gradient(to right, #98b5ff, #3f2b96);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

@keyframes flyInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);  
    }
    100% {
        opacity: 1;
        transform: translateY(0);  
    }
}


.btn-group{
    display: flex;
    gap: 1rem;

}
.btn-group a{
    color: black;
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
}
.socials{
    display: flex;
    gap: 2rem;
}
.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: black;
}
.socials i:hover{
    transform: scale(1.1);
}
/* Sections */
section.experience, section.extra,section.about-me, section.contact{
    min-height: 60vh;
}
/* About me */
.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.about-me-info{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    max-width: 1200px;
    margin: 0 auto; 
}
.about-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-me-text {
    font-size: 1rem;
    max-width: 40%; 
    line-height: 1.6;
}


.img-container {
    position: relative; 
    display: inline-block; 
}

.about-me-img img {
    position: relative; 
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

.rectangle {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #98b5ff, #3f2b96);
    opacity: 0.8;
    z-index: 0; 
    transform: translate(15px, 15px); 
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.1);  */
}
/* Experience */
.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    
}

.experience img{
    width: 54vh;
    border-radius: 3rem;
}
.education-title, .skills-title, .projects-title{
    text-align: left; 
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem; 

}
/* education */
.education-grid, .skills-grid, .projects-grid {
    display: grid;
    grid-template-columns: 1fr  3fr; 
    gap: 1rem;
    align-items: center;
    max-width: 1200px;
    justify-items: center;
    margin-bottom: 50px;
}
.education-text {
    line-height: 1.6;
}
.education-text a {
    position: relative;
    color: black;
    font-weight: 200;
    text-decoration: none; 
}

.education-text a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; 
    bottom: -5px; 
    left: 0; 
    background: linear-gradient(to right, #98b5ff, #3f2b96);
    transition: width 0.3s ease-in-out; 
}

.education-text a:hover::before {
    width: 100%; 
}
.education-text img{
    width: 9%;
    border-radius: 0;
}
.education i{
    font-size: 40px;
}
/* Projects */
.projects-text {
    display: flex;
    flex-direction: row;        
    flex-wrap: wrap;            
    justify-content: space-between;
    gap: 1rem;                 
    max-width: 1200px;          
    margin: 0 auto;           
}
.projects-card {
    flex: 1 1 calc(33.33% - 1rem);
    box-sizing: border-box;        
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;                    
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 1rem;             
}

.projects-card:hover {
    /* background-color: black;
    color: white;
    transform:  scale(1.02); */
    cursor: default !important;
}
.projects-card a {
    color: inherit; 
    text-decoration: none;
    /* margin-top: auto; */
}
.projects-card p{
    margin-bottom: auto;
}

a:visited, 
a:hover, 
a:active {
    color: inherit; 
}
.projects-card img {
    width: 80%;
    border-radius: 1rem;
    background-color: white;
}

.projects-card i{
    margin-top: auto !important;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}
.projects-card i:hover{
    cursor: pointer !important;
    scale: 1.1;
}

.projects-card:hover .btn {
    border: 2px solid white;
    color: white;
}

.projects-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.projects-card h3 {
    font-size: 1rem;
}

.projects-text hr{
    margin-top: -5px;
}
/* Skills */
.skills-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 30px), 1fr));
    gap: 2rem;
    max-width: 100%;
}
.skills-block .grid-card {
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    cursor: default;
    
}
.skills-block .grid-card:hover{
    pointer-events: none;
}

/* Grid */

.grid-card img{
    width: 50% !important;
    border-radius: 0 !important;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.grid-card{
    border: 2px solid black;
    /* border-radius: 1rem; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: left;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.grid-card a{
    color:black;
    font-size: 1rem;
    line-height: 1.6;
    transition: 0.4s ease-in-out;
}
.grid-card:hover a{
    color:white;
    font-size: 1rem;
    line-height: 1.6;
}

.grid-card:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
}
.grid-card i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, #98b5ff, #3f2b96);
    background-clip: text;
    color: transparent;
    text-wrap: nowrap;
}
hr{
    margin-top: 20px;
    height: 4px;
    background-color: black;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: 1rem auto;
}
/* Extra Section */
.extra-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap:5rem;
}
.grid-card-extra{
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    transition: 0.4s ease-in-out;
    max-width: 300px;
    min-width: 300px;
    gap:1rem;
}
.grid-card-extra p{
    line-height: 1.6;
    text-align: center;
}
.grid-card-extra img{
width: 100%;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.grid-card-extra h3{
    font-size: 25px;
    text-align: center !important;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
}

footer{
    bottom: 0;
    left:0;
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
footer ul li a{
    color: black;
    font-weight: 600;
}
.copyright{
    font-size: 300;
    margin-top: 2rem;
}
.contact-info .grid-card{
    min-width: 325px;
    border-radius: 20px;
}





@media(max-width:1200px){
    .header{
        padding: 0.5rem 1rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .grid-card-extra{
        max-width: 250px;
        min-width: 250px;
     }
     .contact-info .grid-card{
        max-width: 270px !important;
        min-width: 270px;
     }
     .contact-info .grid-card span{
        font-size: 20px;
     }
     .contact-info .grid-card h3{
        font-size: 15px;
     }
    .about-me-img img{
       width: 30vw;
    }

}
@media(max-width:1000px){
    .sticky{
        width: 85%;
    }
    .about-title{
        font-size: 3rem;
    }
     .contact-info .grid-card{
        max-width: 220px !important;
        min-width: 220px;
        padding-left: 20px;
     }
     .contact-info{
        gap: 2rem;
     }
     .extra-info{
        gap: 2rem;
     }
    .grid-card-extra{
        max-width: 220px;
        min-width: 220px;
     }
     .grid-card-extra h3{
        font-size: 20px;
     }
     .grid-card-extra p{
        font-size: 15px;
     }
    
}
@media(max-width:768px){
    .skills-block{
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 30px), 1fr)); 
    }
    .contact-info .grid-card{
        max-width: 275px !important;
        min-width: 275px;
        padding-left: 20px;
     }
     .contact-info .grid-card span{
        font-size: 25px;
     }
     .contact-info .grid-card h3{
        font-size: 18px;
     }
    .extra-info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .grid-card-extra{
        min-width: 275px;
    }
    .grid-card-extra p{
        font-size: 15px;
    }
    .grid-card-extra h3{
        font-size: 30px;
    }
    .contact-info{
        flex-direction: column;
    }
    .projects-card img{
        width: 80% !important;
    }
    .education-text img{
        width: 20vw !important;
        border-radius: 0;
    }
    .education-grid, .skills-grid,.projects-grid{
        grid-template-columns: 1fr; 
    }
    
    .about-container img{
        width: 60vw;
    }
    .header{
        padding: 1rem 1rem;
        gap: 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    .header .visit-btn{
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info img{
        width: 70vw;
    }
    .about-me-img img{
        display: none;
    }
    .about-me-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-me-text {
        max-width: 100%; 
        text-align: left; 
    }
    .about-title{
        font-size: 4rem;
    }

}
@media(max-width:600px){
    .sticky{
        width: 85%;
    }
    .projects-card{
        max-width: 100%;
    }
    .section-title{
        font-size: 3rem;
    }
    .projects-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header #menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 3rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        margin: 0;     
        padding: 0;    
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        max-height: 500px;  
           
        
        padding: 1rem;      
    }

    .header{
        padding: 1rem 3rem;
        gap: 2rem;
    }
    .header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width: 80vw;
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    footer ul{
        gap: 15px;
    }
    #menu-icon{
        display: block;
    }
    #menu-icon.fa-times {
        content: '\f00d';
    }

}